# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environments
venv/
.venv/
ENV/
env/

# PyCharm files
python_basics/.idea/
*.iml

# Test reports
reports/
allure-results/
pytest_cache/
